# Data Science Tools and Ecosystem

## Author
Arive Maynes

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**
* Languages for Data Science
* Libraries commonly used by Data Scientists
* OpenSource Data Science Tools
* Arithmetic expresison examples

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. TensorFlow
4. ggplot2


| Data Science Tools |
| --- |
| MySQL |
| Apache Spark |
| Seldon |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60
# 1 hous == 60 minutes:
200 / 60

3.3333333333333335